# /etc/systemd/system/clews.service
# Created because even with restart "unless-stopped" policies, containers would not restart after a system boot.
# enable with:	$ sudo systemctl enable clews.pro
# start with:	$ sudo systemctl start clews.pro
[Unit]
Description=clews.pro Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/home/docker
ExecStart=/usr/bin/docker-compose -f /home/docker/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f /home/docker/docker-compose.yml down

[Install]
WantedBy=multi-user.target
