body {
	padding-bottom: 2600px;
	font-family: monospace;
	color: rgb(150,150,150);
	background-color: black;
	background-image: url("/images/logo_outrun.png");
	background-repeat: no-repeat;
	background-size: auto 3000px;
	background-position-x: center;
	background-position-y: 100px;
}

#clewsy_image {
	padding-top: 150px;
	padding-bottom: 50px;
}

#header {
	text-align: center;
}

a:link, a:visited {
	color: cyan;
	text-decoration: none;
}
a:hover, a:active {
	color: yellow;
	text-decoration: underline;	
}
