body {
	font-family: helvetica, verdana, arial, sans-serif;
	line-height: 1.4em;
	color: rgb(150,150,150);
	background-color: rgb(55,55,55);
}

#header {
	text-align: center;
}

#header a:link {
	text-decoration: none;	/* Remove underlines from links in header */
}

#header-links {
	background-color: rgb(30,30,30);
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 5px 0px;
	border-top: 2px solid rgb(150,150,150);
	border-bottom: 2px solid rgb(150,150,150);
}

#page {
	max-width: 1200px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

/*Table formatting for photo tables*/
table.gallery {
	min-width: 1200px;
	margin-left: 0px;
	margin-right: 0px;
}
table.gallery td {
	border-bottom: none;
}

/*Formatting for photos*/
img.photo {
	border: 10px solid black;
	width: 500px;
	border-radius: 100px;
	overflow: hidden;
	margin: 20px 20px 20px 20px;
}

/*Formatting for images (like photos but no border)*/
img.image {
	width: 500px;
	overflow: hidden;
	margin: 20px 20px 20px 20px;
}

/*Table formatting for text tables*/
table.text-table a:link, table.text-table a:visited {
	text-decoration: none;
}
table.text-table a:hover, table.text-table a:active {
	text-decoration: underline;	
}
table.text-table .links, table.text-table .date {
	text-align: center;
}
table.text-table th, table.text-table td {
	min-width: 120px;
	padding: 10px 10px 10px 0px;
	border-bottom: 5px solid black;
}
img.thumbnail {
	max-width: 200px;
	max-height: 100px;
	display: block;
	border: 2px solid black;
	border-radius: 10px;
}
.thumbnail {
	text-align: center;
	margin: auto auto auto auto;
}
img.icon {
	max-width: 200px;
	max-height: 100px;
	display: block;
	margin: auto auto auto auto;
}

/*Text formatting when showing code or command bloxks.*/
p.code {
	font-family: courier, "courier new", monospace;
	text-transform: none;
	padding: 10px 20px 10px 20px;
	color: green;
	background-color: black;
	border-radius: 20px;
}

.align-left {
	text-align: left;
	float: left;
}
.align-right {
	text-align: right;
	float: right;
}
.align-center {
	text-align: center;
	display: block;
	margin: 0px auto 20px auto;
}

/*Default list formatting.*/
ol {
	list-style-type: decimal-leading-zero;
	list-style-position: outside;
	position: relative;
	left: 50px;
}
ul {
	list-style-position: outside;
	position: relative;
	left: 50px;
}

/*Default table formatting.*/
table {
	margin-left: auto;
	margin-right: auto;
}
th, td {
	min-width: 120px;
	padding: 10px 10px 10px 0px;
	/*	border-bottom: 5px solid blue;*/
}
th {
	text-transform: lowercase;
	font-size: 24px;
}

/* Default heading settings*/
h1 {
	text-transform: lowercase;
	letter-spacing: 10px;
	font-size: 32px;
}
h2 {
	text-transform: lowercase;
	font-size: 24px;
}
h3 {
	text-transform: lowercase;
	font-size: 18px;
}

/* Default link settings. */
a:link {
	color: rgb(150,150,150);
	text-decoration: underline;
}
a:visited {
	color: rgb(150,150,150);
	text-decoration: none;
}
a:hover {
	color: rgb(150,150,150);
	text-decoration: underline;	
}
a:active {
	color: black;
	text-decoration: underline;
}
